<script>
export default {
  name: "counterMixin",
  filters: {
    bracketedCounter(value) {
      return value + " [" + value.toString().length + "]";
    }
  }
};
</script>

<style scoped>
</style>
