<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Exercise 3</h1>
                <p>{{text}}</p>
                <p>{{reversed}}</p>
                <p>{{text | counted}}</p>
                <p>{{counted}}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "Exercise3",
  computed: {
    reversed() {
      return this.text
        .split("")
        .reverse()
        .join("");
    },
    counted() {
      return this.text + "(" + this.text.toString().length + ")";
    }
  },
  data() {
    return {
      text: "ABSTENTIOUS"
    };
  }
};
</script>

<style scoped>
</style>
