<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Exercise 1</h1>
                <p>{{"SUBDERMATOGLYPHIC" | reversed}}</p>
                <p>{{"ROTAVATOR" | reversed}}</p>
                <p>{{"ROTAVATOR" | counted | reversed}}</p>
                <p>{{"ROTAVATOR" | reversed | counted }}</p>
                <p>{{"Test" | counted }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "Exercise1",
  filters: {
    reversed(value) {
      return value
        .toString()
        .split("")
        .reverse()
        .join("");
    }
  }
};
</script>

<style scoped>
</style>
