<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Exercise 2</h1>
                <p>{{"Test" | counted}}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "Exercise2"
};
</script>

<style scoped>
</style>
