<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Exercise 4</h1>
                <p>{{text}}</p>
                <p>{{text | counted}}</p>
                <p>{{text | bracketedCounter }}</p>
                 <!-- Exercise 4 -->
                <!-- Share the Computed Property rebuilding Exercise 2 via a Mixin -->
            </div>
        </div>
    </div>
</template>

<script>
import counterMixin from "./counterMixin";

export default {
  name: "Exercise4",
  mixins: [counterMixin],
  data() {
    return {
      text: "SQUIRRELLED"
    };
  }
};
</script>

<style scoped>
</style>
