<template>
  <div id="app">
    <Exercise1/>
    <Exercise2/>
    <Exercise3/>
    <Exercise4/>
  </div>
</template>

<script>
import Exercise1 from "./components/Exercise1";
import Exercise2 from "./components/Exercise2";
import Exercise3 from "./components/Exercise3";
import Exercise4 from "./components/Exercise4";

export default {
  name: "app",
  components: {
    Exercise1,
    Exercise2,
    Exercise3,
    Exercise4
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
